body{
    margin:0;
    background-color:black;
}

.empBox{
    width:60vw;
    height:90vh;
    display:flex;
    margin:5vh auto;
    
}


.empBox .emplist{
     width:65%;
    height:100%;
      background-color:rgba(225, 201, 255, 0.808);
      padding:1rem;
      box-sizing:border-box;
      overflow-y:scroll;
    border-radius:1rem;
    font-family:Arial, Helvetica, sans-serif;
}
.empBox .emplist h1{
    margin:0;
}


.empBox .empOpr{
    width:35%;
    height:100%;
    background-color:rgb(246, 194, 230);
    display:flex;
    flex-direction:column;
    gap:1rem;
    justify-content:center;
    align-items:center;
}

.empBox .empOpr button{
  width:70%;
  padding:1rem;
  border-radius:1rem;
}

.empBox .empOpr button:hover{
     background-color:rgb(157, 161, 158);
}

.empBox .empOpr span #btn2{
    width:3rem;
    padding:0;
    border-radius:0;
}